<nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-6">
      <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
        <span class="material-symbols-outlined">
          menu
          </span>
      </button>
        <a>
          <img src="assets/images/all-ways-caring-logo@2x.png" class="img-fluid">
        </a>
   </div>
    <div class="col-5 mx-auto">
    <a class="navbar-brand " href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="col-1">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Adminstrator</a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Change Password</a>
            <a href="#" class="dropdown-item">LogOut</a>
        </div>
    </div>
</div>
  </div>
</nav>
<div class="offcanvas offcanvas-start" id="demo">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#" role="tab" aria-controls="list-home">
        Home</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#" role="tab" aria-controls="list-profile">Profile</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#" role="tab" aria-controls="list-messages">Messages</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#" role="tab" aria-controls="list-settings">Settings</a>
    </div>
  </div>
</div>
